.Landing {
  display:flex;
  flex-direction:column;
  height:100vh;  
}

.firstPage {
  flex-basis: 45%;
  text-align:center;
  padding:1em;
  font-size:3rem;
}

/* inventar */
.inventary {
  display:flex;
  font-weight: 700;
  font-size:1.3rem;
  padding:0.1em;
  border-bottom:1px solid black;
  justify-content: space-between;
}

.invElement {
  margin-right:0.2em;
  padding: 0.5em;
}

.add {
  border:none;
  background-image: url(./images/plus.png);
  height: 2.5em;
  width: 2.5em;
  background-color: inherit;
  background-size:cover;
  margin: 0.1em 0.6em;
  
}

.substract {
  background-image: url(./images/minus.png);  
  background-size:cover;
  height: 2.5em;
  width: 2.5em;
  margin: 0.1em 0.6em;
  background-color: inherit;
  border:none;
}

.quantity {
  font-size:1.5rem;
}

.remove {
  background-image: url(./images/delete.png);
  background-size:cover;
  height: 30px;
  width: 30px;
  margin: 0.1em 0.1em;
  background-color: inherit;
  border:none;

}

.buttonsWrapper{
 
  display:flex;
  max-width:40%;
  flex-direction:row;
  justify-content: space-evenly;
  padding: 0.4em;
}

.inventary:nth-child(odd) {
  background: rgba(142, 218, 207, 0.74)
}

.inventary:nth-child(even) {
  background: #28D6C0
}
.addNewButton {
  background-color: rgb(238, 252, 48);
  height:4em;
  width: 50%;
  border:none;
  font-weight:600;
}
.inventaryWrapper{
  height:100vh;
}

.editMode{
  height:4em;
  width: 50%;
  background-color:rgb(255, 136, 0);
  border:none;
  font-weight:600;
}
input {
  width:100%;
  height:3em;
}
nav {
  height: 3em;
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom:3px solid black;
}

nav a {
  font-size: 1.3rem;
  display: inline-block;
  padding: 0 0.2em;
  text-decoration: none;
  margin-bottom: 0.1em;
  width: 13%;
  text-align: center;
  color: #043949;
}

nav a:hover {
  color: black;
}

.currentPage {
  color:white;
  font-weight: 700;
}

.navBorder {
  border-left: 1px solid black;
}
.topNav a {
  display: none;
}
.topNav a.icon {
  font-size: 2rem;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background-color:white;
}
.topNav.responsive {
  width: 100%;
  flex-direction: column;
  background-color: white;
  height: 30%;
}
.topNav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topNav.responsive a {
  float: none;
  display: block;
  /* font-size:3rem; */
  padding: 0.7em;
  font-weight: 600;
  text-transform: uppercase;
}
.navBorder {
  border-left: none;
  width: 100%;
}