.Landing {
  display:flex;
  flex-direction:column;
  height:100vh;  
}

.firstPage {
  flex-basis: 45%;
  text-align:center;
  padding:1em;
  font-size:3rem;
}

/* inventar */
.inventary {
  display:flex;
  /* margin:0.2em; */
  font-size:1.3rem;
  padding:0.1em;
  border-bottom:1px solid black;
  justify-content: space-between;
}

.invElement {
  margin-right:0.2em;
  padding: 0.5em;
}

.add {
  border:none;
  background-image: url(./images/plus.png);
  height: 2em;
  width: 2em;
  background-color: inherit;
  background-size:cover;
  margin: 0.1em 0.6em;
  
}

.substract {
  background-image: url(./images/minus.png);
  background-size:cover;
  height: 2em;
  width: 2em;
  margin: 0.1em 0.6em;
  background-color: inherit;
  border:none;
}

.quantity {
  font-size:1.5rem;
}

.remove {
  background-image: url(./images/delete.png);
  background-size:cover;
  height: 30px;
  width: 30px;
  margin: 0.1em 0.1em;
  background-color: inherit;
  border:none;

}

.buttonsWrapper{
 
  display:flex;
  max-width:40%;
  flex-direction:row;
  justify-content: space-evenly;
  padding: 0.4em;
}

